Package: com.yourcompany.respringstatus
Name: RespringStatus
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: A tweak to let you know when your device has resprung!
Maintainer: Henry Gambles
Author: Henry Gambles
Section: Tweaks
