Package: com.yourcompany.respringstatus
Name: RespringStatus
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: A tweak to let you know when your device has resprung!
Maintainer: Henry Gambles
Author: Henry Gambles
Section: Tweaks
Version: 1.0-2+debug
Installed-Size: 104
